/* Sets all the text color to red! */
.obsidian-lark-upload-list .dropdown{
  /* width: 220px; */
}

.obsidian-lark-upload-list {
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center
}